scripts/xmltask.dtd

<?xml version="1.0"?>

<!ELEMENT interaction (message*,response*)>
<!ELEMENT message (#PCDATA)>
<!ELEMENT response (message*,link*,response*)>
<!ELEMENT link (EMPTY)>

<!ATTLIST interaction id CDATA #IMPLIED>
<!ATTLIST response id CDATA #IMPLIED>
<!ATTLIST response pattern CDATA #REQUIRED>
<!ATTLIST link target CDATA #REQUIRED>